/* aboutus.css */


.hidden {display: none;}
.drkMode {color: white;}
.drkMode p {color: #A19595;}
.visibleTablet { display: none;}

h1 {
    font-family:'Lato';
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-family:'Lato';
    font-size: 40px;
    font-weight: bold;
}

h3 { 
    font-family:'Poppins';
    font-size: 30px;
    font-weight: bold;
}

a, li, i { 
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) { 

i:hover {color: #B3272D; }

#aboutUsHero {
    max-width: 585px;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
    background-size: cover;
}

#About_Us {
    width: 75vw;
    text-align: center;
    height: fit-content;
    padding:  40px;
}
#About_Us h1 {
    margin-bottom: 10px;
}
#About_Us p span {
    color: white;
}

/* MEET THE TEAM */

#meetOurTeamCon {
    max-width: 585px;
    height: fit-content;
    background: #4D0000;
    padding: 60px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#meetTeamText {
    align-self: center;
    text-align: center;
    margin-bottom: 70px;
    /* width: 1050px; */
}

#meetTeamText h2 {margin-bottom: 40px}

#teamCardCon {
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


.teamCard {
    display: grid;   
    width: 75vw; 
    grid-template-rows: 3;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    height: fit-content;
    margin-bottom: 60px;
}

.teamCard:hover .teamImg {
    transform: scale(1.1);
}
.teamCard:hover .overlay {
    opacity: 0;
}
.teamImg {
    width: 75vw;
    max-width: 420px;
    height: 75vw;
    max-height:420px;
    grid-column: 1/4;
    grid-row: 1;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}

.meetTeamSocials {
    width: 110px;
    justify-content: space-between;
    justify-self: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-column: 2;
    grid-row: 3;
    color: white;
}

.meetTeamSocials i {
font-size: 40px;

}

.teamCard h3 {
    grid-column: 2;
    grid-row: 2;
}

#taylorImg {
    background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat ;
}

#taylorKhan {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

#mohImg {
    background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat ;
}
#mohZrn {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
#jasonImg {
    background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat ;
}
#jasonDif {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
#mirdanImg {
    background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat ;
}
#mirdanAssi {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
.overlay {
    mix-blend-mode: saturation;
    width: 75vw;
    max-width: 420px;
    height: 75vw;
    max-height:420px;
    background:  #0000009e;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}
}

/* TABLET */
@media screen and (min-width: 768px) { 

    h3 { 
        font-family:'Poppins';
        font-size: 35px;
        font-weight: 500;
    }
    
    a, li, i { 
        color: white;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    
    body{ background-color: #4D0000;}
    .visibleTablet { display: contents;}

#aboutUsHero {
    max-width: 1200px;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
    background-size: cover;
}

#About_Us {
    width: 75vw;
    text-align: center;
    height: fit-content;
    padding:  40px;
}
#About_Us h1 {
    margin-bottom: 10px;
}
#About_Us p span {
    color: white;
}

/* MEET THE TEAM */

#meetOurTeamCon {
    max-width: 1200px;
    height: fit-content;
    padding: 60px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#meetTeamText {
    margin-bottom: 0;
    /* width: 1050px; */
}


#teamCardCon {
display: none;
}

.teamCard, .teamCard2 {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: auto;
    height: fit-content;
    /* padding-top: 60px; */
    padding:60px ;
    margin-bottom: 0;
}

.teamCard { 
    justify-content: flex-start;
}

.teamCard2 { 
    justify-content: flex-end;
    background: #B3272D;
}

.teamCard .teamCardText { 
    margin-left: 20px;
    text-align: start;
}
.teamCard2 .teamCardText {
    text-align: end;
    margin-right: 20px;
}
.teamCardText h3{margin-top: 20px;}
.teamCardText ul{margin-top: 20px;}
.teamCardText button {margin-top: 20px;}

.teamCard:hover .teamImg {
    transform: unset;
}
.teamCard i:hover {color: #B3272D; }

.teamCard2 i:hover {color: #4D0000; }

h51, h52, h53, h54 {font-size: 80px;}

.teamImg {
    width: 272px;
    height: 272px;
    grid-column: 1/4;
    grid-row: 1;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}

.meetTeamSocials {
    display:flex;
    color: white;
}
.teamCard .meetTeamSocials i {
    font-size: 40px;
    margin-right: 20px;
}
.meetTeamSocials2 { 
display: flex;
justify-content:flex-end;
}
.meetTeamSocials2 i {
    font-size: 40px;
    margin-left: 20px;
    
}

.viewTeamBtn {
    background: none;
    border: none;
    color: #A19595;
}
}


/* DESKTOP */
@media screen and (min-width: 1200px) { 

    .visibleTablet { display: none;}


    #aboutUsHero {
        max-width: 1920px;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
        background-size: cover;
    }
    
    #About_Us {
        width: 790px;
        text-align: center;
        height: fit-content;
        padding:  40px;
    }
    #About_Us h1 {
        margin-bottom: 45px;
    }
    #About_Us p span {
        color: white;
    }
    
    /* MEET THE TEAM */
    
    #meetOurTeamCon {
        max-width: 1920px;
        height: fit-content;
        background: #4D0000;
        padding: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #meetTeamText {
        align-self: center;
        text-align: center;
        margin-bottom: 70px;
        width: 1050px;
    }
    
    
    #teamCardCon {
        width: 1650px;
        height: fit-content;
        display: inline-flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-between;
        align-self: center;
    }
    
    
    .teamCard {
        display: grid;   
        width: 390px; 
        max-width: unset;
        grid-template-rows: (3);
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        height: fit-content;
        padding: unset;
        justify-content: space-between;

    }
    
    .teamCard:hover .teamImg {
        transform: scale(1.1);
    }
    .teamCard:hover .overlay {
        opacity: 0;
    }
    .teamImg {
        width: 390px;
        max-width: unset;
        max-height: unset;
        height: 390px;
        grid-column: 1/4;
        grid-row: 1;
        border-radius:  100%;
        transition: 0.5s ease-in-out;
    }
    
    .meetTeamSocials {
        width: 110px;
        justify-content: space-between;
        justify-self: center;
        display: flex;
        flex-direction: row;
        list-style: none;
        grid-column: 2;
        grid-row: 3;
        color: white;
    }
    
    .meetTeamSocials i {
    font-size: 40px;
    
    }
    
    .teamCard h3 {
        grid-column: 2;
        grid-row: 2;
    }
    
    #taylorImg {
        background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat ;
    }
    
    #taylorKhan {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    
    #mohImg {
        background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat ;
    }
    #mohZrn {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    #jasonImg {
        background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat ;
    }
    #jasonDif {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    #mirdanImg {
        background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat ;
    }
    #mirdanAssi {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    .overlay {
        mix-blend-mode: saturation;
        width: 390px;
        height: 390px;
        background:  #0000009e;
        border-radius:  100%;
        transition: 0.5s ease-in-out;
    }
    
    /* LIGHTBOX */

    .lightBox {
        position:absolute;
        background: #4D0000;
        max-width: 1660px;
        height: 932px;
        display: none; 
        /* js: when a card is selected the light box display is flex */
        flex-direction: row; 
        /* justify-items: flex-start;  */
        align-items: center; 
        
    }

    .infoBlock {
		width: 457px;
		height: 932px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background:  white;
	}

	.profileImg {
		width: 457px;
		height: 466px;
	}

    .infoBlock p {
        text-align: center;
        margin: 20px;
    }

    .profileDetails {
        margin: 60px 40px 80px 40px;
        height: 800px;
		display: flex;
		flex-direction: column;
		align-items: normal;
		justify-content: space-between;
		flex-wrap: wrap;
    }
    .portfolioPreview {
        width: 1125px;
        min-width: 800px;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    }
    .previewMask {
        width: 540px;
        min-width: 300px;
		height: 455px;
    }
    #previewMask {
                background: url(../assets/desktop_images/team_rull_imgs/k_wireframe1.jpg) no-repeat;
                background-size: cover;
    }
    #previewMask2 {
                background: url(../assets/desktop_images/team_rull_imgs/k_wireframe2.jpg) no-repeat;
                background-size: cover;
    }
}
