/* aboutus.css */


.hidden {display: none;}
.drkMode {color: white;}
.drkMode p {color: #A19595;}
.visibleTablet { display: none;}

h1 {
    font-family:'Lato';
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-family:'Lato';
    font-size: 40px;
    font-weight: bold;
}

h3 { 
    font-family:'Poppins';
    font-size: 30px;
    font-weight: bold;
}

a, li, i { 
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

/* MOBILE */
@media screen and (max-width: 768px) { 

i:hover {color: #B3272D; }

#aboutUsHero {
    max-width: 585px;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
    background-size: cover;
}

#About_Us {
    width: 75vw;
    text-align: center;
    height: fit-content;
    padding:  40px;
}
#About_Us h1 {
    margin-bottom: 10px;
}
#About_Us p span {
    color: white;
}

/* MEET THE TEAM */

#meetOurTeamCon {
    max-width: 585px;
    height: fit-content;
    background: #4D0000;
    padding: 60px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#meetTeamText {
    align-self: center;
    text-align: center;
    margin-bottom: 70px;
    /* width: 1050px; */
}

#meetTeamText h2 {margin-bottom: 40px}

#teamCardCon {
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


.teamCard {
    display: grid;   
    width: 75vw; 
    grid-template-rows: 3;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    height: fit-content;
    margin-bottom: 60px;
}

.teamCard:hover .teamImg {
    transform: scale(1.1);
}
.teamCard:hover .overlay {
    opacity: 0;
}
.teamImg {
    width: 75vw;
    max-width: 420px;
    height: 75vw;
    max-height:420px;
    grid-column: 1/4;
    grid-row: 1;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}

.meetTeamSocials {
    width: 110px;
    justify-content: space-between;
    justify-self: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-column: 2;
    grid-row: 3;
    color: white;
}

.meetTeamSocials i {
font-size: 40px;

}

.teamCard h3 {
    grid-column: 2;
    grid-row: 2;
}

#taylorImg {
    background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat ;
}

#taylorKhan {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

#mohImg {
    background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat ;
}
#mohZrn {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
#jasonImg {
    background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat ;
}
#jasonDif {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
#mirdanImg {
    background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat ;
}
#mirdanAssi {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
.overlay {
    mix-blend-mode: saturation;
    width: 75vw;
    max-width: 420px;
    height: 75vw;
    max-height:420px;
    background:  #0000009e;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}
}

/* TABLET */

/* DESKTOP */
