.hidden {
    display: none;
}

body {
display: block;

justify-content: center;
align-items: center;
}

.drkMode {
    color: white;
}

.drkMode p {
    color: #A19595;
}

.visibleTablet {
    display: none;
}

h1 {
    font-family: 'Lato';
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
}

a, li, i {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

p {
    font-family: 'Poppins';
    line-height: 150%;
}

p.body {
    font-family: 'Prompt';
    font-size: x-large;
}

.main-header {
    background-color: #b3272d;
    height: fit-content;
    max-width: 100%;
    display: block;

    #hamburger {
        display: none;
    }


    #logoCon {
        background: black;
        height: 100px;
        /* height: 80px; */
        max-width: 100%;
        display: flex;
        padding-top: 40px;
    }

    #logoMobile {
        display: none;
    }

}

.mainNav {
    background: #b3272d;
    height: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    #burger-menu {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        list-style: none;

        .menuItem {
            margin-left: 25px;
            padding-right: 20px;
            border-right: 4px solid white;
            font-size: 20px;
            align-self: center;
            transition: .3s ease-in-out;
        }

        .menuItem:first-child {
            margin-left: 0;
        }

        .menuItem:last-child {
            margin-right: 0;
            border-right: none;
        }

        .menuItem:hover {
            color: #4d0000;
            scale: 1.1;
        }
    }
}

/* FOOTER */




#lightFooter {
    .footer-container {
        background-color: white;
    }

    .footer-container a,
    i {
        color: black;
    }
}

#darkFooter {
    .footer-container {
        background-color: black;
    }

    .footer-container a,
    i {
        color: white;
    }
}

.footer-container h3 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.footer-container {
    max-width: 100%;
    height: 525px;
    padding: 40px 84px;
    display: grid;


    .footer-logo {
        width: 80%;
        /* display: flex; */
        grid-column: span 2;
        grid-row: 1;
        justify-self: flex-start;
    }

    .footer-socialmedia {
        grid-row: 2;
        grid-column: 2;
        align-self: start;
        align-items: center;

        #footSocial {
            display: inline-flex;
            flex-direction: column;
            justify-content: stretch;
        }
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-right: 50px;
    }

    .footer-nav h4 {
        line-height: 40px;
        font-size: 20px;
    }

    .copyright {
        display: flex;
        grid-row: 3;
        grid-column: span 2;
        text-align: center;
        align-items: end;
        justify-content: center;
    }
}

.footer-container a,
i {
    margin-right: 30px;
}

.footer-container i {
    font-size: 2rem;
    line-height: 60px;
}



@media screen and (max-width: 768px) {

    .main-header {
        background-color: #4d0000;
        max-height: fit-content;
        height: 100px;
        max-width: 768px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 30px;

        #hamburger {
            display: block;
            transition: all .5s ease;
            border: none;
            background: none;
            font-size: 40px;
            height: fit-content;
            width: fit-content;
            margin: auto 0;
            grid-column: 1;


            :hover {
                scale: 1.1;
            }
        }
        .expanded {
            transform: rotate(90deg);
        }
        #logoCon {
            display: none;
        }

        #logoMobile {
            display: flex;
            grid-row: 1;
            grid-column: 2;
            justify-content: center;
        }

        #burger-con {
            display: none;
        }

        #burger-con.slide-toggle {
            display: grid;
            grid-column: 1;
            background: none;
            height: 80px;
            max-width: 768px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: unset;
            

            #burger-menu {
                background: #4d0000;
                width: fit-content;
                height: fit-content;
                display: inline-flex;
                flex-direction: column;
                margin: 20px 0;
                list-style: none;
                transition: .3s ease;

                .menuItem {
                    margin-left: 40px;
                    margin-right: 40px;
                    margin-bottom: 30px;
                    padding-top: 30px;
                    padding-right: unset;
                    border-top: 4px solid white;
                    border-right: unset;
                    font-size: 20px;
                    align-self: center;
                    transition: .3s ease-in-out;
                }

                .menuItem:first-child {
                    border-top: unset;
                    margin-left: 40px;
                }

                .menuItem:last-child {
                    margin-right: 40px;
                    border-right: none;
                }

                .menuItem:hover {
                    color: #4d0000;
                    scale: 1.1;
                }
            }
        }
    }


    i:hover {
        color: #B3272D;
    }

    #aboutUsHero {
        max-width: 768px;
        height: 525px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../images/responsive-images/about_hero_yvogsu/about_hero_yvogsu_c_scale\,w_1400.jpg) no-repeat;
        background-size: cover;

        #About_Us {
            width: 75vw;
            text-align: center;
            height: fit-content;
            padding: 40px;
        }

        #About_Us h1 {
            margin-bottom: 10px;
        }

        #About_Us p span {
            color: white;
        }
    }


    /* MEET THE TEAM */

    #meetOurTeamCon {
        max-width: 100%;
        height: fit-content;
        background: #4D0000;
        padding: 60px 41px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        #meetTeamText {
            align-self: center;
            text-align: center;
            margin-bottom: 70px;
            /* width: 1050px; */
        }

        #meetTeamText h2 {
            margin-bottom: 40px;
        }


        #teamCardCon {
            max-width: unset;
            height: fit-content;
            display: inline-flex;
            flex-direction: column;
            align-items: center;

            .teamCard:hover {
                .teamImg {
                    transform: scale(1.1);
                }

                .overlay {
                    opacity: 0;
                }

            }


            .teamCard h3 {
                grid-column: 2;
                grid-row: 2;
            }

            .teamCard {
                display: grid;
                width: 75vw;
                row-gap: 30px;
                height: fit-content;
                padding: 30px;
                margin-bottom: 60px;
                justify-content: center;

                .teamImg {
                    width: 75vw;
                    max-width: 420px;
                    height: 75vw;
                    max-height: 420px;
                    grid-column: 1/4;
                    grid-row: 1;
                    border-radius: 100%;
                    transition: 0.5s ease-in-out;

                    .overlay {
                        mix-blend-mode: saturation;
                        width: 75vw;
                        max-width: 420px;
                        height: 75vw;
                        max-height: 420px;
                        background: #0000009e;
                        border-radius: 100%;
                        transition: 0.5s ease-in-out;
                    }
                }

                .meetTeamSocials {
                    width: 110px;
                    justify-content: space-between;
                    justify-self: center;
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    grid-column: 2;
                    grid-row: 3;
                    color: white;
                
                    .fa-brands,
                    .fa-solid {
                        font-size: 40px;

                    }
                }


                #taylorImg {
                    background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat;
                }

                #taylorKhan {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

                #mohImg {
                    background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat;
                }

                #mohZrn {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

                #jasonImg {
                    background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat;
                }

                #jasonDif {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

                #mirdanImg {
                    background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat;
                }

                #mirdanAssi {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

            }
        }
    }
                /* LIGHTBOX */

                #lightBox {
                    position: fixed;
                    top: 0;
                    left: 0;
                    background: #4D0000;
                    max-width: 768px;
                    height: fit-content;
                    padding-top: 80px;
                    padding-bottom: 20px;
                    justify-content: center;
                    overflow-y: scroll;

                    #closeBtn {
                        position: absolute;
                        z-index: 3;
                        right: 15px;
                        top: 20px;
                        font-size: 30px;
                        background: none;
                        border: none;
                    }

                    #teamProfileImg {
                        grid-column: 1/3;
                        grid-row: 1;
                        width: unset;
                        height: unset;
                        border-radius: 100%;
                        margin-top: -30px;
                    }

                    #teamPara {
                        grid-column: span 4;
                        grid-row: 3;
                        text-align: left;
                        margin-top: 20px;

                    }

                    #profileText {
                        grid-row: 2;
                        grid-column: span 2;
                        display: flex;
                        flex-direction: column;
                        align-self: center;
                        text-align: center;
                        align-items: center;
                        align-content: end;
                        width: fit-content;
                        margin-top: 30px;

                        #studentNameTag {
                            font-size: 8vw;
                        }

                        #groupRole,
                        .meetTeamSocials {
                            font-size: 4vw;
                            word-wrap: none;
                            margin-top: 3vw;
                        }
                    }

                    .portfolioPreview {
                        width: unset;
                        min-width: unset;
                        grid-column: 3/-1;
                        grid-row: 1/3;
                        height: unset;
                        display: flex;
                        flex-direction: column;
                        justify-content: unset;
                        align-content: stretch;

                        :first-child {
                            margin-bottom: 20px;
                        }
                    }

                    .portfolioPreview img {
                        width: 2fr;
                        max-height: 330px;

                    }
                }
            }

/* TABLET */
@media screen and (min-width: 768px) {

    /* 
    h3 { 
        font-family:'Poppins';
        font-size: 35px;
        font-weight: 500;
    }
    
    a, li, i { 
        color: white;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    */
    body {
        background-color: #4D0000;
    }

    .visibleTablet {
        display: contents;
    }

    #aboutUsHero {
        max-width: 1200px;
        height: 525px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../images/responsive-images/about_hero_yvogsu/about_hero_yvogsu_c_scale\,w_1400.jpg) no-repeat;
        background-size: cover;

        #About_Us {
            width: 75vw;
            text-align: center;
            height: fit-content;
            padding: 40px;
        }

        #About_Us h1 {
            margin-bottom: 10px;
        }

        #About_Us p span {
            color: white;
        }
    }

    /* MEET THE TEAM */

    #meetOurTeamCon {
        max-width: 1200px;
        height: fit-content;
        padding: 60px 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        #meetTeamText {
            margin-bottom: 0;
            /* width: 1050px; */
        }


        #teamCardCon {
            display: none;
        }
    }

    .teamCard.open,
    .teamCard2.open {
        justify-items: stretch;
        row-gap: 20px;

        .teamCardText {
            text-align: unset;
            margin-left: 0;

            .meetTeamSocials {
                justify-content: flex-start;

                .fa-brands,
                .fa-solid {
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
        }

        .portPics {
            grid-row: 1/3;
            grid-column: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .teamCard,
    .teamCard2 {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        width: auto;
        height: fit-content;
        /* padding-top: 60px; */
        padding: 60px;
        margin-bottom: 0;

        .teamCardText {
            grid-row: 2;
            grid-column: 1;
        }

        .teamPara {
            grid-row: 3;
            grid-column: span 2;
        }

        .teamCardText h3 {
            margin-top: 20px;
        }

        .teamCardText ul {
            margin-top: 20px;
        }

        .teamCardText button {
            margin-top: 20px;
        }

        .teamImg {
            width: 272px;
            height: 272px;
            grid-column: 1;
            grid-row: 1;
            border-radius: 100%;
            transition: 0.5s ease-in-out;
        }

        .meetTeamSocials {
            display: flex;
            color: white;
        }

        .meetTeamSocials i {
            font-size: 40px;
        }


        .viewTeamBtn {
            background: none;
            border: none;
            color: #A19595;
        }
    }

    .portPics img {
        max-width: 490px;
        height: 305px;
    }

    h5 {
        font-size: 80px;
    }

    .teamCard {
        justify-content: flex-start;

        .teamCardText {
            margin-left: 20px;
            text-align: start;

            .meetTeamSocials i {
                margin-right: 20px;
            }

        }

        .meetTeamSocials i:hover {
            color: #B3272D;
        }

    }

    .teamCard:hover .teamImg {
        transform: unset;
    }

    .teamCard2 {
        justify-content: flex-end;
        background: #B3272D;

        .teamCardText {
            text-align: end;
            margin-right: 20px;
        }

        .meetTeamSocials i:hover {
            color: #4D0000;
        }

        .meetTeamSocials {
            justify-content: flex-end;
        }

        .meetTeamSocials i {
            margin-left: 20px;
        }


    }

}


/* DESKTOP */
@media screen and (min-width: 1200px) {

    .visibleTablet {
        display: none;
    }


    #aboutUsHero {
        max-width: 100%;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../images/responsive-images/about_hero_yvogsu/about_hero_yvogsu_c_scale\,w_1400.jpg) no-repeat;
        background-size: cover;
    }

    #About_Us {
        width: 790px;
        text-align: center;
        height: fit-content;
        padding: 40px;
    }

    #About_Us h1 {
        margin-bottom: 45px;
    }

    #About_Us p span {
        color: white;
    }

    /* MEET THE TEAM */

    #meetOurTeamCon {
        max-width: 100%;
        height: fit-content;
        background: #4D0000;
        padding: 135px;
        display: flex;
        flex-direction: column;

        #meetTeamText {
            align-self: center;
            text-align: center;
            margin-bottom: 70px;
            width: 1050px;
        }

        #meetTeamText h2 {
            margin-bottom: 40px;
        }



        #teamCardCon {
            max-width: 1650px;
            height: fit-content;
            display: inline-flex;
            flex-direction: row;
            align-items: unset;
            align-self: center;


            .teamCard:hover {
                .teamImg {
                    transform: scale(1.1);
                }

                .overlay {
                    opacity: 0;
                }
            }

            .teamCard h3 {
                grid-column: 2;
                grid-row: 2;
            }


            .teamCard {
                display: grid;
                max-width: 390px;
                row-gap: 30px;
                height: fit-content;
                padding: 20px;


                .teamImg {
                    max-width: 390px;
                    width: 20vw;
                    max-height: 390px;
                    height: 20vw;
                    grid-column: 1/4;
                    grid-row: 1;
                    border-radius: 100%;
                    transition: 0.5s ease-in-out;

                    .overlay {
                        mix-blend-mode: saturation;
                        max-width: 390px;
                        width: 20vw;
                        max-height: 390px;
                        height: 20vw;
                        background: #0000009e;
                        border-radius: 100%;
                        transition: 0.5s ease-in-out;
                    }
                }

                .meetTeamSocials {
                    width: 110px;
                    justify-content: space-between;
                    justify-self: center;
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    grid-column: 2;
                    grid-row: 3;
                    color: white;

                    .fa-brands,
                    .fa-solid {
                        font-size: 40px;

                    }
                }

                #taylorImg {
                    background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat;
                    background-size: cover;
                }

                #mohImg {
                    background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat;
                    background-size: cover;

                }

                #jasonImg {
                    background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat;
                    background-size: cover;

                }

                #mirdanImg {
                    background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat;
                    background-size: cover;

                }

                #taylorKhan {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

                #mohZrn {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

                #jasonDif {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }

                #mirdanAssi {
                    line-height: 64px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                }
            }
        }
    }

    /* LIGHTBOX */

    #lightBox {
        position: fixed;
        top: 50%;
        left: 50%;
        background: #4D0000;
        max-width: 1660px;
        height: 90vh;
        overflow-y: scroll;
        transform: translate(-50%, -50%);
        /* js: when a card is selected the light box display is flex */
        flex-direction: row;
        /* justify-items: flex-start;  */
        align-items: center;

        .infoBlock {
            max-width: 457px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background: white;

            .profileImg {
                width: 457px;
                height: 466px;
            }

            .infoBlock p {
                text-align: center;
                margin: 20px;
            }
        }

        .profileDetails {
            margin: 60px 40px 80px 40px;
            height: 800px;
            display: flex;
            flex-direction: column;
            align-items: normal;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .portfolioPreview {
            width: 1125px;
            min-width: 800px;
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .previewMask {
            width: 540px;
            min-width: 300px;
            height: 455px;
        }

        #previewMask {
            background: url(../assets/desktop_images/team_rull_imgs/k_wireframe1.jpg) no-repeat;
            background-size: cover;
        }

        #previewMask2 {
            background: url(../assets/desktop_images/team_rull_imgs/k_wireframe2.jpg) no-repeat;
            background-size: cover;
        }
    }
}