
.hidden {display: none;}
.drkMode {color: white;}
.drkMode p {color: #A19595;}
.pDrkMode {color: #A19595;}
.visibleTablet { display: none;}

h1 {
    font-family:'Lato';
    font-size: 60px;
    font-weight: 900;
}

h2 {
    font-family:'Lato';
    font-size: 40px;
    font-weight: bold;
}

h3 { 
    font-family:'Poppins';
    font-size: 30px;
    font-weight: bold;
}

a, li, i { 
    font-family: 'Poppins';
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
p {
    font-family: 'Poppins';
    line-height: 150%;
}
p.body {
    font-family: 'Prompt';
    font-size: x-large;
}


#main-header {
    background-color: #b3272d;
    height: 180px;
    max-width: 1900px;
    display: block;
}

.mainNav {
    background: #b3272d;
    height: 80px;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainNav>menu {
display: flex;
flex-direction: row;
margin: 20px 0;
list-style: none;
}

.mainNav>menu>a:first-child{
    margin-left: 0;
}
.mainNav>menu>a:last-child{
    margin-right: 0;
    border-right: none;
}
.mainNav>menu>a {
    margin-left: 25px;
    padding-right: 20px;
    border-right: 4px solid white;
    font-size: 20px;
    align-self: center;
    transition: .3s ease-in-out;
}
.mainNav>menu>a:hover {
    color: #4d0000;
    scale: 1.1;
}

#main-header>div {
    background: black;
    height: 100px;
}

#main-header>div>a { margin: 30px 0;}

#hamburger {display: none;}


#logoCon {
    height: 80px;
    max-width: 1920px;
    display: flex;
}
#logoMobile{
 display: none;   
}


/* MOBILE */
@media screen and (max-width: 768px) { 
 
    
    #hamburger {
        display: block;
        transition: all .5s ease;
        border: none;  
        background: none;
        font-size: 40px;
        height: fit-content;
        width: fit-content;
        margin: auto 0;
    }


     #hamburger.expanded {
        transform: rotate(90deg);
     }
     
     #burger-con {
        display: none;
     }
     
     #burger-con.slide-toggle {
        display: grid;
    }
    
#main-header {
    background-color: #4d0000;

    max-height: fit-content;
    height: 100px;
    max-width: 768px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* align-items: center; */
    padding: 20px 30px;
}

#main-header>button{ grid-column: 1;}
#main-header>button:hover {
    scale: 1.1;}


.mainNav {
    grid-column: 1;
    background: none;
    height: 80px;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: unset;
}

.mainNav>menu {
    background: #4d0000;
    width: fit-content;
display: inline-flex;
flex-direction: column;
margin: 20px 0;
list-style: none;
}

.mainNav>menu>a:first-child{
    border-top: unset;
    margin-left: 40px;
}
.mainNav>menu>a:last-child{
    margin-right: 40px;
    border-right: none;
}
.mainNav>menu>a {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-right: unset;
    border-top: 4px solid white;
    border-right: unset;
    font-size: 20px;
    align-self: center;
    transition: .3s ease-in-out;
}
.mainNav>menu>a:hover {
    color: #4d0000;
    scale: 1.1;
}


#main-header>div {
    background: none;
    height: unset;
}

#main-header>div>a { margin: 0;}

#logoCon {
display: none;
}
#logoMobile{
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
}
/* #logoMobile img{  align-self: center; justify-self: center;} */



    #eventInfoHero{
        max-width: 768px;
        height: 845px;
        /* background: black; */
        background: url(../images/eventInfoHero_D.svg) no-repeat;
        background-size: contain;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }

    .video-container {
        position: relative;
        overflow: hidden;
        max-width: 100vw;
        max-height: 768px;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #eventinfoCon{
        max-width: 768px;
        height: fit-content;
        background: linear-gradient(to top, white 40%, rgba(255, 255, 255, 0.885), transparent), url(../assets/desktop_images/industry_event_info.jpg) no-repeat;
        background-size: cover;
        padding-top: 450px;
        padding-bottom: 50px;
    }
    #eventinfoCon div {margin-top: 80px; align-items: left;}
    #eventinfoCon div h2 {margin-bottom: 40px; text-align: center; font-size: 65px;}
    #eventinfoCon div h3 {margin-bottom: 40px; text-align: center;}
    #eventinfoCon div p.body {margin-bottom: 40px; text-align: center;}

}
/* TABLET */
@media screen and (min-width: 768px) { 

        
    #eventInfoHero{
        max-width: 1200px;
        height: 1100px;
        /* background: black; */
        background: url(../images/eventInfoHero_D.svg) no-repeat;
        background-size: contain;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }

    .video-container {
        position: relative;
        overflow: hidden;
        max-width: 100vw;
        max-height: 1200px;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #eventinfoCon{
        max-width: 1200px;
        height: fit-content;
        background: linear-gradient(to top, white 40%, rgba(255, 255, 255, 0.885), transparent), url(../assets/desktop_images/industry_event_info.jpg) no-repeat;
        background-size: cover;
        padding-top: 500px;
        padding-bottom: 80px;
    }
    #eventinfoCon div {margin-top: 80px; align-items: left;}
    #eventinfoCon div h2 {margin-bottom: 40px; text-align: center; font-size: 65px;}
    #eventinfoCon div h3 {margin-bottom: 40px; text-align: center;}
    #eventinfoCon div p.body {margin-bottom: 40px; text-align: center;}

}
/* DESKTOP */
@media screen and (min-width: 1200px) { 
    
    #eventInfoHero{
        max-width: 1920px;
        height: 1510px;
        background: url(../images/eventInfoHero_D.svg) no-repeat;
        background-size: contain;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    .video-container {
        /* position: relative; */
        overflow: hidden;
        max-width: 100vw;
        max-height: 1500px;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
    }
    
    .video-container iframe {
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #eventinfoCon{
        max-width: 1920px;
        height: fit-content;
        background: linear-gradient(45deg, white 20%, rgba(255, 255, 255, 0.885), transparent), url(../assets/desktop_images/industry_event_info.jpg) no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 80px;
    }
    #eventinfoCon div {margin-top: 80px;}
    #eventinfoCon div h2 {margin-bottom: 30px; text-align: left; font-size: 60px;}
    #eventinfoCon div h3 {margin-bottom: 30px; text-align: left;}
    #eventinfoCon div p.body {margin-bottom: 30px; text-align: left;}

}