/* Add CSS styles for the navigation bar */
header {
    background-color: red;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

/* Style the links inside the navigation bar */
header nav {
    margin-right: 20px;
}

header nav a {
    margin-top: 7px;
    border-right: 3px solid white;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

body {
    font-family: 'Lato';
    font-family: 'Poppins';
    font-family: 'Prompt';  
}