
.hidden {display: none;}
.drkMode {color: white;}
.drkMode p {color: #A19595;}
.pDrkMode {color: #A19595;}
.visibleTablet { display: none;}

h1 {
    font-family:'Lato';
    font-size: 60px;
    font-weight: 900;
}

h2 {
    font-family:'Lato';
    font-size: 40px;
    font-weight: bold;
}

h3 { 
    font-family:'Poppins';
    font-size: 30px;
    font-weight: bold;
}

a, li, i { 
    font-family: 'Poppins';
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
p {
    font-family: 'Poppins';
    line-height: 150%;
}
p.body {
    font-family: 'Prompt';
    font-size: x-large;
}


body { margin: 0; }


/* HEADER */

#main-header {
    background-color: #b3272d;
    height: 180px;
    max-width: 1900px;
    display: block;
}

.mainNav {
    background: #b3272d;
    height: 80px;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainNav>menu {
display: flex;
flex-direction: row;
margin: 20px 0;
list-style: none;
}

.mainNav>menu>a:first-child{
    margin-left: 0;
}
.mainNav>menu>a:last-child{
    margin-right: 0;
    border-right: none;
}
.mainNav>menu>a {
    margin-left: 25px;
    padding-right: 20px;
    border-right: 4px solid white;
    font-size: 20px;
    align-self: center;
    transition: .3s ease-in-out;
}
.mainNav>menu>a:hover {
    color: #4d0000;
    scale: 1.1;
}

#main-header>div {
    background: black;
    height: 100px;
}

#main-header>div>a { margin: 30px 0;}

#hamburger {display: none;}


#logoCon {
    height: 80px;
    max-width: 1920px;
    display: flex;
}
#logoMobile{
 display: none;   
}

/* INDEX.HTML */




/* EVENTINFO.HTML */



/* ABOUTUS.HTML */



/* FOOTER */

/* MOBILE*/
@media screen and (max-width: 768px) { 
    /* HEADER */
    
    #hamburger {
        display: block;
        transition: all .5s ease;
        border: none;  
        background: none;
        font-size: 40px;
        height: fit-content;
        width: fit-content;
        margin: auto 0;
    }


     #hamburger.expanded {
        transform: rotate(90deg);
     }
     
     #burger-con {
        display: none;
     }
     
     #burger-con.slide-toggle {
        display: grid;
    }
    
#main-header {
    background-color: #4d0000;

    max-height: fit-content;
    height: 100px;
    max-width: 768px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* align-items: center; */
    padding: 20px 30px;
}

#main-header>button{ grid-column: 1;}
#main-header>button:hover {
    scale: 1.1;}


.mainNav {
    grid-column: 1;
    background: none;
    height: 80px;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: unset;
}

.mainNav>menu {
    background: #4d0000;
    width: fit-content;
display: inline-flex;
flex-direction: column;
margin: 20px 0;
list-style: none;
}

.mainNav>menu>a:first-child{
    border-top: unset;
    margin-left: 40px;
}
.mainNav>menu>a:last-child{
    margin-right: 40px;
    border-right: none;
}
.mainNav>menu>a {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-right: unset;
    border-top: 4px solid white;
    border-right: unset;
    font-size: 20px;
    align-self: center;
    transition: .3s ease-in-out;
}
.mainNav>menu>a:hover {
    color: #4d0000;
    scale: 1.1;
}


#main-header>div {
    background: none;
    height: unset;
}

#main-header>div>a { margin: 0;}

#logoCon {
display: none;
}
#logoMobile{
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
}



    
    /* INDEX */





    /* EVENTINFO */

    #eventInfoHero{
        max-width: 768px;
        height: 845px;
        /* background: black; */
        background: url(../images/eventInfoHero_D.svg) no-repeat;
        background-size: contain;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    #videoPlaceHolder{
        max-width: 768px;
        min-width: 100vw;
        height: 56vw;
        background: #A19595;
    }

    #eventinfoCon{
        max-width: 768px;
        height: fit-content;
        background: linear-gradient(to top, white 40%, rgba(255, 255, 255, 0.885), transparent), url(../assets/desktop_images/industry_event_info.jpg) no-repeat;
        background-size: cover;
        padding-top: 450px;
        padding-bottom: 50px;
    }
    #eventinfoCon div {margin-top: 80px; align-items: left;}
    #eventinfoCon div h2 {margin-bottom: 40px; text-align: center; font-size: 65px;}
    #eventinfoCon div h3 {margin-bottom: 40px; text-align: center;}
    #eventinfoCon div p.body {margin-bottom: 40px; text-align: center;}





/* ABOUTUS */


i:hover {color: #B3272D; }

#aboutUsHero {
    max-width: 585px;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
    background-size: cover;
}

#About_Us {
    width: 75vw;
    text-align: center;
    height: fit-content;
    padding:  40px;
}
#About_Us h1 {
    margin-bottom: 10px;
}
#About_Us p span {
    color: white;
}

/* MEET THE TEAM */

#meetOurTeamCon {
    max-width: 585px;
    height: fit-content;
    background: #4D0000;
    padding: 60px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#meetTeamText {
    align-self: center;
    text-align: center;
    margin-bottom: 70px;
    /* width: 1050px; */
}

#meetTeamText h2 {margin-bottom: 40px}

#teamCardCon {
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#teamCardCon>button {appearance: unset;}

.teamCard {
    display: grid;   
    width: 75vw; 
    grid-template-rows: 3;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    height: fit-content;
    margin-bottom: 60px;
}

.teamCard:hover .teamImg {
    transform: scale(1.1);
}
.teamCard:hover .overlay {
    opacity: 0;
}
.teamImg {
    width: 75vw;
    max-width: 420px;
    height: 75vw;
    max-height:420px;
    grid-column: 1/4;
    grid-row: 1;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}

.meetTeamSocials {
    width: 110px;
    justify-content: space-between;
    justify-self: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-column: 2;
    grid-row: 3;
    color: white;
}

.meetTeamSocials i {
font-size: 40px;

}

.teamCard h3 {
    grid-column: 2;
    grid-row: 2;
}

#taylorImg {
    background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat ;
}

#taylorKhan {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

#mohImg {
    background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat ;
}
#mohZrn {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
#jasonImg {
    background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat ;
}
#jasonDif {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
#mirdanImg {
    background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat ;
}
#mirdanAssi {
    line-height: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
.overlay {
    mix-blend-mode: saturation;
    width: 75vw;
    max-width: 420px;
    height: 75vw;
    max-height:420px;
    background:  #0000009e;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}
}
/* TABLET */
@media screen and (min-width: 768px) {

    /* INDEX */







    /* EVENTINFO */

    #eventInfoHero{
        max-width: 1200px;
        height: 1100px;
        /* background: black; */
        background: url(../images/eventInfoHero_D.svg) no-repeat;
        background-size: contain;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    #videoPlaceHolder{
        max-width: 1200px;
        min-width: 100vw;
        height: 56vw;
        background: #A19595;
    }

    #eventinfoCon{
        max-width: 1200px;
        height: fit-content;
        background: linear-gradient(to top, white 40%, rgba(255, 255, 255, 0.885), transparent), url(../assets/desktop_images/industry_event_info.jpg) no-repeat;
        background-size: cover;
        padding-top: 500px;
        padding-bottom: 80px;
    }
    #eventinfoCon div {margin-top: 80px; align-items: left;}
    #eventinfoCon div h2 {margin-bottom: 40px; text-align: center; font-size: 65px;}
    #eventinfoCon div h3 {margin-bottom: 40px; text-align: center;}
    #eventinfoCon div p.body {margin-bottom: 40px; text-align: center;}






    /* ABOUTUS */

    h3 { 
        font-family:'Poppins';
        font-size: 35px;
        font-weight: 500;
    }
    
    a, li, i { 
        color: white;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    
    body{ background-color: #4D0000;}
    .visibleTablet { display: contents;}

#aboutUsHero {
    max-width: 1200px;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
    background-size: cover;
}

#About_Us {
    width: 75vw;
    text-align: center;
    height: fit-content;
    padding:  40px;
}
#About_Us h1 {
    margin-bottom: 10px;
}
#About_Us p span {
    color: white;
}

/* MEET THE TEAM */

#meetOurTeamCon {
    max-width: 1200px;
    height: fit-content;
    padding: 60px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#meetTeamText {
    margin-bottom: 0;
    /* width: 1050px; */
}

#teamCardCon {
display: none;
}

.teamCard, .teamCard2 {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: auto;
    height: fit-content;
    /* padding-top: 60px; */
    padding:60px ;
    margin-bottom: 0;
}

.teamCard { 
    justify-content: flex-start;
}

.teamCard2 { 
    justify-content: flex-end;
    background: #B3272D;
}

.teamCard .teamCardText { 
    margin-left: 20px;
    text-align: start;
}
.teamCard2 .teamCardText {
    text-align: end;
    margin-right: 20px;
}
.teamCardText h3{margin-top: 20px;}
.teamCardText ul{margin-top: 20px;}
.teamCardText button {margin-top: 20px;}

.teamCard:hover .teamImg {
    transform: unset;
}
.teamCard i:hover {color: #B3272D; }

.teamCard2 i:hover {color: #4D0000; }

h51, h52, h53, h54 {font-size: 80px;}

.teamImg {
    width: 272px;
    height: 272px;
    grid-column: 1/4;
    grid-row: 1;
    border-radius:  100%;
    transition: 0.5s ease-in-out;
}

.meetTeamSocials {
    display:flex;
    color: white;
}
.teamCard .meetTeamSocials i {
    font-size: 40px;
    margin-right: 20px;
}
.meetTeamSocials2 { 
display: flex;
justify-content:flex-end;
}
.meetTeamSocials2 i {
    font-size: 40px;
    margin-left: 20px;
    
}

.viewTeamBtn {
    background: none;
    border: none;
    color: #A19595;
}
}

/* DESK */
@media screen and (min-width: 1200px) { 

.visibleTablet{display: none;}

/* MAIN INDEX */
    #small-top-logo {
        position: absolute;
        top: 0px;
        left: 30px;
    }
    
    #hero-img {
        margin-top: 50px;
        width: 100%;
        height: auto; 
    }
    
    .white-box-button {
        background: linear-gradient(to right, black, red);
        color: white;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        width: 400px;
        text-align: center;
        border-radius: 20px;
        align-items: center;
        font-size: 32px;
        line-height: 80px;
        margin-bottom: 30px;
    }
    
    .program-description {
        background-color: black;
        color: white;
        padding: 20px;
    }
    
    .program-description h2 {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .program-description p {
        margin-bottom: 20px;
        text-align: center; }
    
    .menu-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .menu-grid a {
        text-decoration: none;
        color: blue;
        font-weight: bold;
    }
    
    .menu-grid p {
        display: none; 
        margin-top: 10px;
    }
    
    .menu-grid li:hover p {
        display: block;
        color: white;
    }
    
    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 20px;
    }
    
    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
        width: 100%;
    }

    
    .features {
        background-color: black;
        color: white;
        padding: 20px;
    }
    
    .features h2 {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .features p {
        margin-bottom: 20px;
        text-align: center; }
    
    .features h3 {
        display: inline-block; 
        margin: 20px 100px; 
        margin-left: 90px;
    }
/*  */



/* EVENT INFO */

    #eventInfoHero{
        max-width: 1920px;
        height: 1510px;
        background: url(../images/eventInfoHero_D.svg) no-repeat;
        background-size: contain;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: end;
        
    }
    #videoPlaceHolder{
        max-width: 1370px;
        min-width: 1200px;
        height: 770px;
        background: #A19595;
    }

    #eventinfoCon{
        max-width: 1920px;
        height: fit-content;
        background: linear-gradient(45deg, white 20%, rgba(255, 255, 255, 0.885), transparent), url(../assets/desktop_images/industry_event_info.jpg) no-repeat;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 80px;
    }
    #eventinfoCon div {margin-top: 80px;}
    #eventinfoCon div h2 {margin-bottom: 30px; text-align: left; font-size: 60px;}
    #eventinfoCon div h3 {margin-bottom: 30px; text-align: left;}
    #eventinfoCon div p.body {margin-bottom: 30px; text-align: left;}
/*  */





/* ABOUTUS */

    #aboutUsHero {
        max-width: 1920px;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  url(../assets/desktop_images/about_hero.jpg) no-repeat;
        background-size: cover;
    }
    
    #About_Us {
        width: 790px;
        text-align: center;
        height: fit-content;
        padding:  40px;
    }
    #About_Us h1 {
        margin-bottom: 45px;
    }
    #About_Us p span {
        color: white;
    }
    
    /* MEET THE TEAM */
    
    #meetOurTeamCon {
        max-width: 1920px;
        height: fit-content;
        background: #4D0000;
        padding: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #meetTeamText {
        align-self: center;
        text-align: center;
        margin-bottom: 70px;
        width: 1050px;
    }
    
    #teamCardCon {
        max-width: max-content;
        min-width: min-content;
        height: fit-content;
        display: inline-flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-between;
        align-self: center;
    }
    
    .teamCard {
        display: grid;   
        width: 390px; 
        max-width: unset;
        grid-template-rows: (3);
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        height: fit-content;
        padding: unset;
        justify-content: space-between;

    }
    
    .teamCard:hover .teamImg {
        transform: scale(1.1);
    }
    .teamCard:hover .overlay {
        opacity: 0;
    }
    .teamImg {
        width: 390px;
        max-width: unset;
        max-height: unset;
        height: 390px;
        grid-column: 1/4;
        grid-row: 1;
        border-radius:  100%;
        transition: 0.5s ease-in-out;
    }
    
    .meetTeamSocials {
        width: 110px;
        justify-content: space-between;
        justify-self: center;
        display: flex;
        flex-direction: row;
        list-style: none;
        grid-column: 2;
        grid-row: 3;
        color: white;
    }
    
    .meetTeamSocials i {
    font-size: 40px;
    
    }
    
    .teamCard h3 {
        grid-column: 2;
        grid-row: 2;
    }
    
    #taylorImg {
        background: url(../assets/desktop_images/team_images/taylor_khan.jpg) no-repeat ;
    }
    
    #taylorKhan {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    
    #mohImg {
        background: url(../assets/desktop_images/team_images/mo.jpg) no-repeat ;
    }
    #mohZrn {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    #jasonImg {
        background: url(../assets/desktop_images/team_images/jason_diff.jpg) no-repeat ;
    }
    #jasonDif {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    #mirdanImg {
        background: url(../assets/desktop_images/team_images/Mirdan.jpg) no-repeat ;
    }
    #mirdanAssi {
        line-height: 64px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
    }
    .overlay {
        mix-blend-mode: saturation;
        width: 390px;
        height: 390px;
        background:  #0000009e;
        border-radius:  100%;
        transition: 0.5s ease-in-out;
    }
    
    /* LIGHTBOX */

    .lightBox {
        position:absolute;
        background: #4D0000;
        max-width: 1660px;
        height: 932px;
        display: none; 
        /* js: when a card is selected the light box display is flex */
        flex-direction: row; 
        /* justify-items: flex-start;  */
        align-items: center; 
        
    }

    .infoBlock {
		width: 457px;
		height: 932px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background:  white;
	}

	.profileImg {
		width: 457px;
		height: 466px;
	}

    .infoBlock p {
        text-align: center;
        margin: 20px;
    }

    .profileDetails {
        margin: 60px 40px 80px 40px;
        height: 800px;
		display: flex;
		flex-direction: column;
		align-items: normal;
		justify-content: space-between;
		flex-wrap: wrap;
    }
    .portfolioPreview {
        width: 1125px;
        min-width: 800px;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    }
    .previewMask {
        width: 540px;
        min-width: 300px;
		height: 455px;
    }
    #previewMask {
                background: url(../assets/desktop_images/team_rull_imgs/k_wireframe1.jpg) no-repeat;
                background-size: cover;
    }
    #previewMask2 {
                background: url(../assets/desktop_images/team_rull_imgs/k_wireframe2.jpg) no-repeat;
                background-size: cover;
    }
/*  */
}